#projects{
    width:100%;
    display: flex;
}


#projects > article{
    padding: 1em;
}
#projects > article{
    flex:1;
}

#projects > nav{
    box-shadow: 5px 0px 5px -5px silver;
    /*border-right: 1px solid #dcdcdc;*/
}
#projects > article, #projects > nav{
    display: inline-block;
}

#projects > nav ul, #projects > nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin: .5em 0 .5em 0;
}



#projects nav .nav-button{
    border:none;
    background: none;
    padding: 1em;
    font-size: 1.15em;
    outline: none;
    display: inline-block;
}




.clear{
    clear:both;
}

#projects nav .nav-button{
    color: black !important;
    border-radius: 3px;
    width: 100%;
    text-align: left;

}


pre{
    white-space: pre-line;
}

.divider{
    height: 1px;
    display: block;
    margin: 1em;
}
#projects nav .nav-button:hover, #projects nav .active-button{


    background: linear-gradient(#f1f1f1, #eeeeee);
    /* background: white; */
    /* border-color: silver; */
    width: 100%;
    box-shadow: 0px 1px 3px 0px silver;

}

#projects #gallery img{
    max-width:100%;
}


#images{
    display: flex;
}

#links .nav-button{
    padding: .75em;
    background: #DBE1E8;
    color: black;
    font-size: 1.1em;
    border-radius: 5px;
    display: inline-block;
    transition: all .2s;
}

#links .nav-button:hover{
    background: #f1f1f1 !important;
    box-shadow: 0px 1px 3px 0px silver;

}
#links .nav-button:hover a{
    text-decoration: none;
    color: black !important;
}

#links > div *{
    color: black;
}

#title label{
    font-size: 3em;
}


#title {
    padding: 0 1em .75em 0;
}

#header{
    padding-top: 0em !important;
}

#projects_swap > #container section{
    padding: 1em;
}

#projects_swap{
    overflow: hidden;
}

#projects > nav{
    padding: 0 1em 0em 0em;
}

#desc{
    background: #f3f3f3;
    border: 1px dashed silver;
    border-radius: 3px;
}


.thumbnail img{

}
.thumbnail img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.thumbnail{
    margin: 1em;
    width: 100px;
    height: 100px;
    background: black;
    box-shadow:0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}