<html>

<head>
    <script th:src="@{/resources/js/swapper.js}"></script>
    <link th:href="@{/resources/css/projects.css}" rel="stylesheet" />
    <script th:src="@{/resources/js/projects.js}"></script>
</head>

<body>
    <div id="projects">
        <nav>
            <ul>
                <li><button data-id="crawler" data-main-color="slateblue" data-main-text-color="white" class="nav-button">Crawler</button></li>
                <li><button data-id="diary" class="nav-button" data-main-color="#00565b" data-main-text-color="white">Diary</button></li>
                <li><button data-id="TictacToe" data-main-color="firebrick" data-main-text-color="white" class="nav-button">TicTacToe</button></li>
                <li><button data-id="urlshortener" data-main-color="#ed217c" data-main-text-color="white" class="nav-button">UrlShortener</button></li>
            </ul>
        </nav>
        <article id="projects_swap"></article>
        <div class="clear" />
    </div>
</body>

</html>